- promotion_feature = 'promote_weight_sidebar_dismissed'

- if show_promotions? && show_callout?(promotion_feature)
  .block.js-weight-sidebar-callout.promotion-issue-sidebar{ data: { uid: promotion_feature } }
    .sidebar-collapsed-icon{ data: { toggle: "dropdown", target: ".js-weight-sidebar-callout" } }
      %span{ data: { toggle: "tooltip", placement: "left", container: "body" }, title: _("Weight") }
        = icon('balance-scale')
        %span No
    .title.hide-collapsed
      = _('Weight')
    .hide-collapsed.js-toggle-container.promotion-issue-weight-sidebar-message
      = s_('Promotions|This feature is locked.')
      %a.btn-link.js-toggle-button.js-weight-sidebar-callout{ href: '#' }
        = s_('Promotions|Learn more')
        = icon('chevron-down')
      .js-toggle-content{ style:'display: none' }
        %div
          %h4
            = s_('Promotions|Weighting your issue')
          %p
            = image_tag('promotions/img-paid-feature-weight-sidebar.png', class: 'w-100 box-shadow-default')
          %p
            = s_('Promotions|When you have a lot of issues, it can be hard to get an overview. By adding a weight to your issues, you can get a better idea of the effort, cost, required time, or value of each, and so better manage them.')
          %p
            - if Gitlab::CurrentSettings.should_check_namespace_plan?
              - subscription_link_url = "#{EE::SUBSCRIPTIONS_URL}/plans"
              - subscription_link_start = '<a href="%{url}" target="_blank" class="btn-link>"'.html_safe % { url: subscription_link_url }
              = s_("Promotions|See the other features in the %{subscription_link_start}bronze plan%{subscriptions_link_end}").html_safe % { subscription_link_start: subscription_link_start, subscription_link_end: '</a>'.html_safe }
            - else
              = _('Improve issues management with Issue weight and GitLab Enterprise Edition.')
          %div
            = render 'shared/promotions/promotion_link_project', short_form: true, target_blank: true
            = link_to s_("Promotions|Don't show me this again"), '#', class: ['btn', 'js-close', 'js-close-callout']
